/* Formulario - contacto */

.formulario {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}

.formulario h3 {
    font-size: 20px;
    margin-bottom: 30px;
    text-decoration: underline;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 16px;
    margin-bottom: 15px;
}

.formulario .form-floating {
    margin-bottom: 15px;
}

.formulario .d-grid button {
    font-size: 18px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formulario .d-grid button:first-child {
    background-color: #007bff;
    color: #ffffff;
    margin-right: 10px;
    width: 30%;
}

.formulario .d-grid button:last-child {
    background-color: #6c757d;
    color: #ffffff;
}

.formulario .d-grid button:hover {
    opacity: 0.85;
}

.tituloContacto {
    text-align: center;
    margin-bottom: 30px;
}


.form-floating {
    height: 250px;
}

#floatingTextarea {
    height: 250px;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

#comentario {
    height: 250px;
}
