.novedadesPlay {
    margin-top: 100px;
}

/* Estilos para la sección del carrusel */
.playstation {
    padding: 2px;
    background-color:  #eee;
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 50px;
    width:95%;
    height: 520px;
}

.nintendoSwitch {
    padding: 2px;
    background-color: #f0f0f0;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    width:95%;
    height: 520px;
}

xboxOne{
    padding: 2px;
    background-color: #f0f0f0;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    width:95%;
    height: 520px;
}

/* Estilos para el contenedor principal del carrusel */
.swiffy-slider {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

/* Estilos para la lista de elementos del carrusel */
.slider-container {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    transition: transform 5s ease-in-out;
}

/* Estilos para cada elemento del carrusel */
.slider-container li {
    flex: 0 0 20%;
    width: 10%;
    margin-right: px;

}

/* Estilos para las tarjetas (cards) */
.cardsClass .card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    width: 280px;
    height: 450px;
    margin-bottom: 50px;

}

/* Estilos para las imágenes dentro de las tarjetas */
.card-img-top {
    width: 100%;
    height: 10px;
}

/* Estilos para el contenido de la tarjeta */
.cardsClass .card-body {
    padding: 5px;
    height: 350px;
}

/* Estilos para el título de la tarjeta */
.cardsClass .card-body h3 {
    font-size: 1em;
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
}

/* Estilos para los párrafos de la tarjeta */
.cardsClass .card-body p {
    margin: 5px 0;
    text-align: center;
}

/* Estilos para los botones de navegación del carrusel */
.slider-nav {
    background-color:black;
    color:#eee;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin: 5px ;
    margin-top: 150px;
}

/* Estilos para el botón de navegación activo */
.slider-nav.active {
    background-color: #ff6600;
}

/* Estilos para los indicadores del carrusel */
.slider-indicators {
    text-align: center;
    margin-top: 10px;
}

/* Estilos para los indicadores individuales */
.slider-indicators button {
    background-color: #ddd;
    border: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    margin: 0 5px;
}

/* Estilos para el indicador activo */
.slider-indicators button.active {
    background-color: #007bff;
}

/* CALCULADORA */

.containerCalculadora {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    margin-bottom: 100px;
}

h4 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color:rgba(0, 0, 0, 0.837);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color:rgba(0, 0, 0, 0.837);
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
}

.tituloXbox{
    margin-bottom: 50px;
    color: green;
    text-decoration: underline;
}

.tituloSwitch{
    color: red;
    text-decoration: underline;
}

.tituloPlay{
    color:blue;
    text-decoration: underline;
}

.playstationVideo {
    margin-bottom: 30px;
    margin-left: 300px;
}

.nintendoVideo {
    margin-bottom: 30px;
    margin-left: 300px;
}

.xboxVideo {
    margin-bottom: 30px;
    margin-left: 300px;
}